.wd-main {
    max-width: 1300px;
}

a {
    text-decoration: none;
}

.wd-profile {
    height: 45px;
    width: 45px;
}

.wd-imageText {
    position: relative;
    bottom: 60px;
    left: 10px;
    color: white;
    z-index: 1000;
    color: rgb(30, 30, 30);
}

.wd-image {
    height: 90px;
    width: 90px;
}

.wd-under {
    margin-top: -40px;
    z-index: -1;
    position: relative;
}

.wd-over {
    z-index: 100;
    bottom: 45px;
}

.wd-icon {
    top: 12px;
    left: 25px;
    color: gray;
}